@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Zen+Loop&display=swap');

:root{
    --dark: #19191a;
    --light: #666464;
    --border:#000000;
    --border-btn: #ffffff;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration:none ;
    font-family: 'Zen Dots', cursive;
}

.container{
    max-width: 1024px;
    margin: auto;
}

.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
    
}
.d-flex{
    display: flex;
    flex-wrap: wrap;

}
.justify-between{
    justify-content: space-between;
}

.text-center{
    text-align: center;
}
.border-shadow{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #d1cbd6;
}


.text-dark{
    color:var(--dark);
}

.inline{
    display:inline-block
}

.text-light{
    color:var(--light);

}

.text-gradient{
    background: linear-gradient(#000000,#930fc7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header nav{
    background-color: #8FB9A8 ;
    padding: 1em 0;
    width: 100%;
}

#site-main{
    margin-top:6em;
    font-family: 'Open Sans', sans-serif;
}

#site-main .container .box-nav > a{
    font-size: 1em;
    padding: 0.5em 1em;
}

#site-main .container form{
    margin: 2em 0em;
}

table{
    border-spacing: 0px;
    width: 100%;
   

}
.table td, .table th{
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}
.table td>a.btn{
    padding: .3em 1em;
    font-size: 1.1em;
    margin: 0.2em;
}
.table tr:hover{
    background-color:#765D69  ;
}
.table tr:hover td>a{
    box-shadow: none;
}
.table .thead-dark th{
    color: #fff;
    background-color: #F1828D;
    border-color: #F1828D;

}
/* responsive  */
@media only screen and (max-width: 1024 px){
    table,thead,tbodu,th,td,tr{
        display: block;
    }
    thread tr{
        position: absolute;
        top: -9999px;
        left: -9999px;

    }
    tr{border: 1px solid var(--border);}
    td{
        border: none;
        border-bottom: 1px solid var(--border);
        position: relative;
    }

}

/*add book and updates template*/

.form-title{
    margin-top: 2em;

}
.form-title > h2{
    padding: .5em 0;
}
.new_book{
    max-width: 789px;
    margin: auto;
}
#update_book .form-group,
#add_book .form-group{
    margin: .4em 0;

}
#update_book .form-group input[type="text"],
#add_book .form-group input[type="text"]{
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 1px solid var(--border);
    font-family: "Barlow", sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_book .form-group .radio,
#add_book .form-group .radio{
margin: 1em 2em;
}

/* radio buttons*/

.radio input[type='radio']{
    position: absolute;
    opacity: 0;
}
.radio input[type='radio'] + .radio-label:before{
    content: "";
    background: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0em;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type='radio']:checked + .radio-label:before{
    background-color: #8FB9A8 ;
    box-shadow: inset 0 0 0 4px #e9ecef;

}
.radio input[type='radio']:focus + .radio-label:before{
  outline: none;
  border-color: #16db93;

}
.radio input[type='radio']:disabled + .radio-label:before{
    box-shadow: inset 0 0 0 4px #e9ecef;
    border-color: #b4b4b4;
    background: #b4b4b4;
}

#update_book .form-group .btn,
#add_book .form-group .btn{
    width: 100%;
    padding: .9em 1em;
    background-color: #8FB9A8 ;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}

#update_book .form-group .btn:hover,
#add_book .form-group .btn:hover{
    background-color: #765D69;
    color: var(--border);

}







