<tr>
    <td>1</td>
    <td>12 rules</td>
    <td>Jordan Peterson</td>
    <td>Self Help</td>
    <td>Reading</td>
    <td>
        <a href="#" class = "btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a  class = "btn border-shadow delete">
            <span class="text-gradient"><i class="fas fa-trash-alt"></i></span>
        </a>
    </td>
</tr>